@media (prefers-color-scheme: light) {
  :root {
    --color-bg: #f9f9f9;
    --color-light-bg: #fdfdfd;
    --color-dark-bg: #ededed;
    --color-menu-bg: #f2f2f2;
    --color-primary: #111111;
    --color-secondary: #666666;
    --color-subtext: #999999;
    --color-error: #ff2222;
    --color-links: #2979ff;
    --color-highlight-bg: #999999;
    --color-highlight-fg: #eeeeee;
    --color-active-bg: #f8d9aa;
    --color-borders: #c5c5c5;
    --color-button-bg: #f9e4b3;
    --color-button-fg: #000;
    --color-disabled-button-bg: #ececec;
    --color-disabled-button-fg: #aaa;
    --color-send: #ed4b85;
    --color-receive: #28bf89;
    --color-btcPrimary: #8c540a;
    --color-btcSecondary: #f1a43c;
    --color-usdPrimary: #40632c;
    --color-usdSecondary: #85bb65;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #151515;
    --color-light-bg: #131313;
    --color-dark-bg: #232323;
    --color-menu-bg: #1c1c1c;
    --color-primary: #eeeeee;
    --color-secondary: #999999;
    --color-subtext: #666666;
    --color-error: #e36969;
    --color-links: #2979ff;
    --color-highlight-bg: #666666;
    --color-highlight-fg: #111111;
    --color-active-bg: #4a453d;
    --color-borders: #494949;
    --color-button-bg: #f9e4b3;
    --color-button-fg: #000;
    --color-disabled-button-bg: #191919;
    --color-disabled-button-fg: #999;
    --color-send: #ed4b85;
    --color-receive: #28bf89;
    --color-btcPrimary: #8c540a;
    --color-btcSecondary: #f1a43c;
    --color-usdPrimary: #40632c;
    --color-usdSecondary: #85bb65;
  }
}

body.light {
  --color-bg: #f9f9f9;
  --color-light-bg: #fdfdfd;
  --color-dark-bg: #ededed;
  --color-menu-bg: #f2f2f2;
  --color-primary: #111111;
  --color-secondary: #666666;
  --color-subtext: #999999;
  --color-error: #ff2222;
  --color-links: #2979ff;
  --color-highlight-bg: #999999;
  --color-highlight-fg: #eeeeee;
  --color-active-bg: #f8d9aa;
  --color-borders: #c5c5c5;
  --color-button-bg: #f9e4b3;
  --color-button-fg: #000;
  --color-disabled-button-bg: #ececec;
  --color-disabled-button-fg: #aaa;
  --color-send: #ed4b85;
  --color-receive: #28bf89;
  --color-btcPrimary: #8c540a;
  --color-btcSecondary: #f1a43c;
  --color-usdPrimary: #40632c;
  --color-usdSecondary: #85bb65;
}

body.dark {
  --color-bg: #151515;
  --color-light-bg: #131313;
  --color-menu-bg: #1c1c1c;
  --color-primary: #eeeeee;
  --color-secondary: #999999;
  --color-subtext: #666666;
  --color-error: #e36969;
  --color-links: #2979ff;
  --color-highlight-bg: #666666;
  --color-highlight-fg: #111111;
  --color-active-bg: #4a453d;
  --color-borders: #494949;
  --color-button-bg: #f9e4b3;
  --color-button-fg: #000;
  --color-disabled-button-bg: #191919;
  --color-disabled-button-fg: #999;
  --color-send: #ed4b85;
  --color-receive: #28bf89;
  --color-btcPrimary: #8c540a;
  --color-btcSecondary: #f1a43c;
  --color-usdPrimary: #40632c;
  --color-usdSecondary: #85bb65;
}
