# HEDGING_NOT_IN_SIMULATION="TRUE"
NETWORK=regtest

LOG_LEVEL=debug

ACTIVE_STRATEGY="OKEX_PERPETUAL_SWAP"
ACTIVE_WALLET="SIMULATED_WALLET"
# or
# ACTIVE_WALLET="REMOTE_WALLET"

OKEX5_KEY="key"
OKEX5_SECRET="secret"
OKEX5_PASSWORD="pwd"
OKEX5_FUND_PASSWORD='none'

# host needs to match where the process runs
# docker_host | local_host | ...
# GRAPHQL_URI="http://localhost:4000/graphql"
# DATABASE_URL="postgres://postgres:postgres@localhost:5432/galoy"

GRAPHQL_URI="http://graphql:4000/graphql"
DATABASE_URL="postgres://postgres:postgres@postgres:5432/galoy"
