*:before,
*:after {
  box-sizing: border-box;
}

body {
  min-width: 375px;
  padding-bottom: 250px;
  background-color: var(--color-bg);
  color: var(--color-primary);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  a,
  .link {
    color: var(--color-links);
    text-decoration: none;
    cursor: pointer;
    i {
      margin-right: 0.45rem;
    }
  }

  img {
    vertical-align: middle;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  input,
  textarea,
  select {
    width: 100%;
    max-width: 300px;
    padding: 0.75rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: var(--color-primary);
    background-color: var(--color-light-bg);
    border: thin solid var(--color-borders);
    border-radius: 0.25rem;
  }

  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }

  select {
    background: linear-gradient(45deg, transparent 50%, var(--color-button-fg) 50%),
      linear-gradient(135deg, var(--color-button-fg) 50%, transparent 50%),
      linear-gradient(to right, var(--color-button-bg), var(--color-button-bg));
    background-position: calc(100% - 21px) calc(1em + 2px),
      calc(100% - 16px) calc(1em + 2px), 100% 0;
    background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  button,
  .button {
    display: inline-flex;
    padding: 0.5rem 1rem;
    border: thin solid var(--color-borders);
    border-radius: 0.25rem;
    text-decoration: none;
    text-align: center;
    transition: all 0.2s;
    color: var(--color-button-fg);
    background-color: var(--color-button-bg);
  }
  button:disabled,
  button[disabled] {
    background-color: var(--color-disabled-button-bg);
    color: var(--color-disabled-button-fg);
  }
}

::placeholder {
  color: var(--color-subtext);
}

.error {
  color: var(--color-error);
  margin: 1rem auto;
  text-align: center;
}

.small {
  font-size: 0.8rem;
}

.sat-symbol {
  margin-right: 2px;
}

svg {
  width: 21px;
  height: 21px;
}

a svg {
  margin-right: 0.75rem;
}

.page-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 2rem auto;
}

.separator {
  display: inline-block;
  margin: 0 0.5rem;
  color: var(--color-subtext);
}

.hint {
  color: var(--color-subtext);
}

.center-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 375px;
  margin: 0 auto;
  text-align: center;
}

.action-button {
  margin: 2rem auto;
}
