@import "./theme";

*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 375px;
  background-color: var(--color-bg);
}

body {
  color: var(--color-primary);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  a,
  .link {
    color: var(--color-links);
    text-decoration: none;
    cursor: pointer;
    i {
      margin-right: 0.45rem;
    }
  }

  img {
    vertical-align: middle;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  input,
  textarea,
  select {
    width: 100%;
    max-width: 300px;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: var(--color-primary);
    background-color: var(--color-light-bg);
    border: thin solid var(--color-borders);
    border-radius: 0.25rem;
  }

  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }

  select {
    background: linear-gradient(45deg, transparent 50%, var(--color-button-fg) 50%),
      linear-gradient(135deg, var(--color-button-fg) 50%, transparent 50%),
      linear-gradient(to right, var(--color-button-bg), var(--color-button-bg));
    background-position: calc(100% - 21px) calc(1em + 2px),
      calc(100% - 16px) calc(1em + 2px), 100% 0;
    background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  button,
  .button {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: thin solid var(--color-borders);
    border-radius: 0.25rem;
    text-decoration: none;
    text-align: center;
    transition: all 0.2s;
    color: var(--color-button-fg);
    background-color: var(--color-button-bg);
  }
  button:disabled,
  button[disabled] {
    background-color: var(--color-disabled-button-bg);
    color: var(--color-disabled-button-fg);
  }
}

::placeholder {
  color: var(--color-subtext);
}

.error {
  color: var(--color-error);
  margin: 1rem auto;
  text-align: center;
}

.small {
  font-size: 0.8rem;
}

.sat-symbol {
  margin-right: 2px;
}

svg {
  width: 21px;
  height: 21px;
}

a svg {
  margin-right: 0.75rem;
}

.page-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 2rem auto;
}

.separator {
  display: inline-block;
  margin: 0 0.5rem;
  color: var(--color-subtext);
}

.header-container {
  margin-bottom: 2rem;
  .header {
    margin-right: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .balance {
      cursor: pointer;
      .title {
        text-align: center;
        margin-bottom: 0.5rem;
      }

      .value {
        text-align: center;
        .primary {
          font-size: 1.2rem;
          text-align: center;
        }
        .secondary {
          color: var(--color-secondary);
          margin-top: 0.2rem;
          text-align: center;
        }
      }
    }
    .links {
      display: flex;
      justify-content: space-around;
      font-size: 1.1rem;
      .menu-icon {
        cursor: pointer;
        font-size: 1.25rem;
        color: var(--color-links);
      }
    }
  }
}

.header-nav {
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  a {
    margin: 1rem auto;
    border: thin solid var(--color-borders);
    border-radius: 0.25rem;
    padding: 0.75rem 1.75rem;
    background-color: var(--color-light-bg);
    width: 75%;
    max-width: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .active {
    background-color: var(--color-active-bg);
    font-weight: bold;
    color: var(--color-primary);
  }
}

.home {
  .header-nav {
    margin-top: 3rem;
  }
}

@media (max-width: 700px) {
  .header-nav {
    display: none;
  }
}

@media (max-width: 700px) {
  .home {
    .header-nav {
      margin-top: 1.5rem;
      display: flex;
      flex-direction: column;
      a {
        text-align: unset;
        margin: 0.65rem auto;
        padding: 0.75rem 1.5rem;
      }
    }
  }
}

.center-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 375px;
  margin: 0 auto;
  text-align: center;
}

.amount-input {
  flex-direction: row;
  .currency-label {
    margin-right: 0.5rem;
    font-size: 1.5rem;
  }
  .toggle-currency {
    cursor: pointer;
    margin-left: 0.5rem;
    font-size: 1.5rem;
  }
}

.note-input {
  textarea {
    font-size: 0.9rem;
  }
}

.action-container {
  padding-top: 1rem;
}

.invoice-status {
  margin: 1.5rem;
}

.amount-converted {
  max-width: 375px;
  margin: 0 auto;
  margin-top: 1rem;
  text-align: center;
  .converted-sats {
  }
  .converted-usd {
    margin-top: 0.3rem;
    color: var(--color-secondary);
  }
}

.suspense-fallback,
.error-fallback {
  display: block;
  margin: 20% auto;
  padding: 5%;
  text-align: center;
  pre {
    white-space: pre-wrap;
  }
}

#root {
  height: 100%;
}

.tabs {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  .tab {
    width: 100%;
    border: thin solid var(--color-borders);
    padding: 0.5rem;
    text-align: center;
  }
  .active {
    background-color: var(--color-active-bg);
    font-weight: bold;
    color: var(--color-primary);
  }
}

#main-container {
  height: 92%;
  width: 90%;
  margin: 0 auto;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
}

#footer {
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 2rem;
  background-color: var(--color-bg);
}

.powered-by {
  font-size: 0.85rem;
  color: var(--color-secondary);
  text-align: center;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25%;
  .intro {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  form {
    width: 100%;
    text-align: center;
  }
  * input {
    min-width: 275px;
  }
  input.auth-code {
    width: unset;
  }
  .register {
    margin-bottom: 1.5rem;
    text-align: center;
  }
}

.captcha-challenge {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25%;
  .loading {
    margin-top: 1rem;
  }
}

.invoice-message {
  margin: 0.75rem auto;
  font-weight: bold;
  padding: 0.5rem;
  div.link {
    margin-top: 0.5rem;
  }
}

.fee-amount {
  padding: 0.75rem;
  border: thin dashed var(--color-borders);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.75rem;
  .label {
    margin-right: 0.75rem;
    font-weight: bold;
  }
  .fee-usd-amount {
    text-align: left;
  }
}

.geetest_wind.geetest_panel .geetest_panel_box {
  top: 25% !important;
}

.qrcode-detector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 375px;
  margin: 1.25rem auto;
  text-align: center;
  font-weight: bold;
  .qrcode-camera {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--color-highlight-bg);
    padding-top: 10%;
    #qrCodeCamera {
      margin: 0 auto;
      max-width: 600px;
      video {
        width: 100% !important;
      }
    }
  }

  .spinner {
    text-align: center;
  }

  .scan-stop {
    margin-top: 0.5rem;
    text-align: center;
    color: var(--color-highlight-fg);
  }

  .scan-start {
    margin: 1rem auto;
    border-top: thin solid var(--color-borders);
    padding: 1.25rem 1.75rem;
    width: 75%;
    max-width: 250px;
    i {
      margin-right: 0.75rem;
    }
  }
}

.invoice-qrcode-container {
  position: relative;

  .invoice-qrcode {
    display: flex;
    flex-direction: column;
    align-items: center;
    .invoice-copied {
      position: absolute;
      padding: 1rem;
      margin: 0.5rem auto;
      background-color: var(--color-bg);
      color: var(--color-primary);
    }
  }

  .payment-destination-code {
    color: var(--color-subtext);
    font-size: 0.75rem;
  }

  .copy-message {
    font-size: 0.8rem;
    margin-top: 1rem;
  }
}

.sat-format {
  white-space: nowrap;
  .minus {
    margin-right: 2px;
  }
}

.recent-transactions {
  display: flex;
  flex-direction: column;
  .header {
    font-weight: bold;
    margin: 0 auto;
  }
}

.no-transactions {
  text-align: center;
  border: thin solid var(--color-borders);
  padding: 1rem;
  margin: 1rem;
  background-color: var(--color-light-bg);
}

.transaction-list {
  margin: 1rem auto;
  width: 95%;
  max-width: 750px;
  .transaction-item {
    padding: 0.5rem;
    margin: 0.75rem;
    background-color: var(--color-light-bg);
    border: thin solid var(--color-borders);
  }

  .transaction-summary {
    display: flex;
    align-items: center;
    cursor: pointer;
    div {
      flex: 1;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
    .content {
      flex: 2;
      .date {
        margin-top: 0.25rem;
        color: var(--color-subtext);
      }
    }
    .icon {
      flex: 0;
    }
    .converted-usd {
      font-size: 90%;
      margin-top: 0.25rem;
      color: var(--color-secondary);
    }
  }

  .transaction-details {
    margin-top: 0.75rem;
    padding-top: 0.5rem;
    border-top: thin dashed var(--color-borders);
    font-size: 90%;
    div {
      display: flex;
      margin: 0.15rem;
    }
    .label {
      font-weight: bold;
      flex: 0;
      min-width: 125px;
    }
    .value {
      flex: 3;
      overflow-wrap: anywhere;
    }
  }

  .direction-receive {
    .icon,
    .amount {
      color: var(--color-receive);
    }
  }
  .direction-send {
    .icon,
    .amount {
      color: var(--color-send);
    }
  }
  .pending-true {
    .icon,
    .amount {
      color: var(--color-secondary);
    }
  }
}

.load-more {
  text-align: center;
  margin-top: 1rem;
}

#root {
  .menu {
    background-color: var(--color-menu-bg);
    border-left: 1px solid var(--color-borders);
    position: fixed;
    height: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    padding: 3em 1.5em;
    font-size: 1.1em;
    min-width: 175px;
    a {
      display: flex;
      margin: 1rem;
      i {
        width: 30px;
      }
    }
    .close {
      position: fixed;
      top: 15px;
      right: 15px;
      margin-bottom: 1rem;
      cursor: pointer;
    }
  }
}

.contacts {
  .list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    .contact {
      display: flex;
      background-color: var(--color-light-bg);
      margin: 0 1.75rem 1.75rem 1.75rem;
      width: 230px;
      padding: 1rem 1.5rem;
      border: thin solid var(--color-borders);
      border-radius: 0.5rem;
      i {
        flex: 0;
        margin-right: 1rem;
        font-size: 1.35rem;
      }
      .name {
        flex: 1;
        cursor: pointer;
      }
      .actions {
        flex: 0;
        display: flex;
        div {
          cursor: pointer;
          color: var(--color-links);
        }
      }
    }
  }
}

.settings {
  .setting {
    display: flex;
    align-items: center;
    background-color: var(--color-light-bg);
    margin: 1rem;
    padding: 1rem;
    border: thin solid var(--color-borders);
    border-radius: 0.5rem;
    .icon,
    .name,
    .action {
      margin-left: 1rem;
      margin-right: 1rem;
    }
    .icon i,
    .action i {
      font-size: 2rem;
    }
    .name {
      flex: 2;
      .sub {
        color: var(--color-subtext);
        margin-top: 0.5rem;
        font-size: 0.85rem;
      }
    }
    .action {
      flex: 1;
    }
  }
}

@media (max-width: 800px) {
  .contacts {
    .list {
      justify-content: center;
    }
  }
}

@media (max-width: 600px) {
  .header-container {
    .links {
      a .name {
        display: none;
      }
    }
  }
}
