#main-container {
  height: 92%;
  width: 90%;
  padding-top: 1.5rem;
}

.header-container {
  margin-bottom: 2rem;
  .header {
    margin-right: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .balance {
      cursor: pointer;
      .title {
        text-align: center;
        margin-bottom: 0.5rem;
      }

      .value {
        text-align: center;
        .primary {
          font-size: 1.2rem;
          text-align: center;
        }
        .secondary {
          color: var(--color-secondary);
          margin-top: 0.2rem;
          text-align: center;
        }
      }
    }
    .links {
      display: flex;
      justify-content: space-around;
      font-size: 1.1rem;
      .menu-icon {
        cursor: pointer;
        font-size: 1.25rem;
        color: var(--color-links);
      }
    }
  }
}

.header-nav {
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  a {
    margin: 1rem auto;
    border: thin solid var(--color-borders);
    border-radius: 0.25rem;
    padding: 0.75rem 1.75rem;
    background-color: var(--color-light-bg);
    width: 75%;
    max-width: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .send {
    svg {
      color: var(--color-send);
    }
  }
  .receive {
    svg {
      color: var(--color-receive);
    }
  }
  .active {
    background-color: var(--color-active-bg);
    font-weight: bold;
    color: var(--color-primary);
  }
}

.home {
  .header-nav {
    margin-top: 3rem;
  }
}

.fee-amount {
  padding: 0.75rem;
  border: thin dashed var(--color-borders);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.75rem auto;
  .label {
    margin-right: 0.75rem;
    font-weight: bold;
  }
  .fee-usd-amount {
    text-align: left;
  }
}

.transaction-list {
  .transaction-item {
    background-color: var(--color-light-bg);
    border: thin solid var(--color-borders);
  }
}

.amount-input-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .currency-label {
    margin-right: 0.5rem;
    font-size: 1.5rem;
  }
  .toggle-currency {
    cursor: pointer;
    margin-left: 0.5rem;
    font-size: 1.5rem;
  }
}

.note-input {
  textarea {
    font-size: 0.9rem;
  }
}

.action-container {
  padding-top: 1rem;
}

.invoice-status {
  margin: 1.5rem;
}

.amount-converted {
  max-width: 375px;
  margin: 0 auto;
  margin-top: 1rem;
  text-align: center;
  .converted-sats {
  }
  .converted-usd {
    margin-top: 0.3rem;
    color: var(--color-secondary);
  }
}

.suspense-fallback,
.error-fallback {
  display: block;
  padding: 25% 5%;
  text-align: center;
  pre {
    white-space: pre-wrap;
  }
}

.tabs {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  .tab {
    width: 100%;
    border: thin solid var(--color-borders);
    padding: 0.5rem;
    text-align: center;
  }
  .active {
    background-color: var(--color-active-bg);
    font-weight: bold;
    color: var(--color-primary);
  }
}

#main-container {
  margin: 0 auto;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
}

#powered-by {
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 2rem;
  background-color: var(--color-bg);
  .content {
    font-size: 0.85rem;
    color: var(--color-secondary);
    text-align: center;
  }
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25%;
  .intro {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  form {
    width: 100%;
    text-align: center;
  }
  .auth-code-form {
    width: unset;
  }
  * input {
    min-width: 275px;
  }
  input.auth-code {
    width: unset;
  }
}

.captcha-challenge {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25%;
  .loading {
    margin-top: 1rem;
  }
}

.invoice-message {
  margin: 0.75rem auto;
  font-weight: bold;
  padding: 0.5rem;
  div.link {
    margin-top: 0.5rem;
  }
}

.geetest_wind.geetest_panel .geetest_panel_box {
  top: 25% !important;
}

.qrcode-detector {
  font-weight: bold;

  .qrcode-camera {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--color-highlight-bg);
    padding-top: 10%;
    #qrCodeCamera {
      margin: 0 auto;
      max-width: 600px;
      video {
        width: 100% !important;
      }
    }
  }

  .scan-stop {
    margin-top: 0.5rem;
    text-align: center;
    color: var(--color-highlight-fg);
  }
}

button {
  display: inline-flex;
  align-items: center;
  .spinner {
    margin-left: 0.75rem;
  }
}

.send-input {
  div.input {
    width: 100%;
    display: flex;
    align-items: center;
    .c1,
    .c3 {
      flex: 0.1;
    }
    .c1 {
      margin-right: 0.5rem;
      text-align: right;
      font-size: 1.5rem;
    }
    .c3 {
      cursor: pointer;
      margin-left: 0.5rem;
      text-align: left;
      font-size: 1.5rem;
    }

    input,
    textarea {
      flex: 0.8;
    }
  }
}

.destination-input {
  .destination {
    display: flex;
    width: 100%;
    align-items: center;
    svg {
      margin-left: 0.25rem;
      width: 32px;
      height: 32px;
    }
  }
}

.invoice-qrcode-container {
  position: relative;

  .invoice-qrcode {
    display: flex;
    flex-direction: column;
    align-items: center;
    .invoice-copied {
      position: absolute;
      padding: 1rem;
      margin: 0.5rem auto;
      background-color: var(--color-bg);
      color: var(--color-primary);
    }
  }

  .payment-destination-code {
    color: var(--color-subtext);
    font-size: 0.75rem;
  }

  .copy-message {
    font-size: 0.8rem;
    margin-top: 1rem;
  }
}

.sat-format {
  white-space: nowrap;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  .minus {
    margin-right: 2px;
  }
}

.recent-transactions {
  display: flex;
  flex-direction: column;
  .header {
    font-weight: bold;
    margin: 0 auto;
  }
}

.no-data {
  width: 75%;
  text-align: center;
  border: thin solid var(--color-borders);
  padding: 1rem;
  margin: 1rem auto;
  background-color: var(--color-light-bg);
}

.transaction-list {
  margin: 1rem auto;
  width: 95%;
  max-width: 750px;
  .section-title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  .transaction-item {
    padding: 0.5rem;
    margin: 0.75rem;
  }
  .transaction-summary {
    display: flex;
    align-items: center;
    cursor: pointer;
    div {
      flex: 1;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
    .content {
      flex: 2;
      .date {
        margin-top: 0.25rem;
        color: var(--color-subtext);
      }
    }
    .icon {
      flex: 0;
    }
    .converted-usd {
      font-size: 90%;
      margin-top: 0.25rem;
      color: var(--color-secondary);
    }
  }

  .transaction-details {
    margin-top: 0.75rem;
    padding-top: 0.5rem;
    border-top: thin dashed var(--color-borders);
    font-size: 90%;
    div {
      display: flex;
      margin: 0.15rem;
    }
    .label {
      font-weight: bold;
      flex: 0;
      min-width: 125px;
    }
    .value {
      flex: 3;
      overflow-wrap: anywhere;
    }
  }

  .direction-receive {
    .icon,
    .amount {
      color: var(--color-receive);
    }
  }
  .direction-send {
    .icon,
    .amount {
      color: var(--color-send);
    }
  }
  .pending-true {
    .icon,
    .amount {
      color: var(--color-secondary);
    }
  }
}

.load-more {
  text-align: center;
  margin-top: 1rem;
}

.spinner {
  .path {
    stroke: var(--color-secondary);
  }
}

.big-spinner {
  svg {
    width: 84px;
    height: 84px;
  }
}

#root {
  .menu {
    background-color: var(--color-menu-bg);
    border-left: 1px solid var(--color-borders);
    position: fixed;
    height: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    padding: 3em 1.5em;
    font-size: 1.1em;
    min-width: 175px;
    z-index: 1;
    a {
      display: flex;
      justify-content: left;
      align-items: center;
      margin: 1rem;
      i,
      svg {
        width: 30px;
      }
    }
    .close {
      position: fixed;
      top: 15px;
      right: 15px;
      margin-bottom: 1rem;
      cursor: pointer;
    }
  }
}

.contacts {
  .list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    .contact {
      display: flex;
      background-color: var(--color-light-bg);
      margin: 0 1.75rem 1.75rem 1.75rem;
      width: 230px;
      padding: 1rem 1.5rem;
      border: thin solid var(--color-borders);
      border-radius: 0.5rem;
      i {
        flex: 0;
        margin-right: 1rem;
        font-size: 1.35rem;
      }
      .name {
        flex: 1;
        cursor: pointer;
      }
      .actions {
        flex: 0;
        display: flex;
        div {
          cursor: pointer;
          color: var(--color-links);
        }
      }
    }
  }
}

.settings {
  .setting {
    display: flex;
    align-items: center;
    background-color: var(--color-light-bg);
    margin: 1rem;
    padding: 1rem;
    border: thin solid var(--color-borders);
    border-radius: 0.5rem;
    position: relative;
    .icon {
      width: 5%;
      min-width: 45px;
    }
    .icon i,
    .action i {
      font-size: 1.5rem;
    }
    .name {
      width: 45%;
      min-width: 200px;
      .sub {
        color: var(--color-subtext);
        margin-top: 0.5rem;
        font-size: 0.85rem;
      }
    }
    .action {
      width: 50%;
      min-width: 250px;
      text-align: right;
    }
  }
}

.link-copied {
  padding: 1rem;
  margin: 0.5rem auto;
  background-color: var(--color-highlight-bg);
  color: var(--color-highlight-fg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-number-form,
.auth-code-form {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    padding: 0.25rem 1rem;
  }
}

.auth-form {
  margin-top: 1.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  .alert-error {
    color: var(--color-error);
    margin: 2rem auto;
    text-align: center;
  }
  form {
    width: 100%;
    max-width: 350px;
    .input-container {
      margin-bottom: 1.5rem;
    }
    button {
      margin-top: 1rem;
    }
  }
}

.form-messages {
  .error-message {
    color: var(--color-error);
    font-size: 0.9rem;
  }
  .info-message {
    margin: 1rem auto;
    padding: 0.5rem;
    font-weight: bold;
    text-align: center;
  }
}

.form-links {
  margin: 2.5rem auto;
}

.discardable-message {
  border: thin solid var(--color-borders);
  padding: 0.5rem 1rem;
  margin: 1rem auto;
  position: relative;
  background-color: var(--color-active-bg);
  max-width: 500px;
  .close {
    position: absolute;
    top: 5px;
    right: 10px;
  }

  .message {
    width: 90%;
    padding: 0.5rem;
  }
}

.button-container {
  a {
    margin: 0 1rem;
  }
}

.send,
.receive {
  position: relative;
  .input-label {
    text-align: left;
    width: 100%;
    margin: 1.5rem 0 0.1rem 0;
  }
}

.send-confirm {
  margin: 1rem auto;
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: thin solid var(--color-borders);
    padding-bottom: 1rem;
    margin-top: 1.5rem;
    .content {
      text-align: left;
      max-width: 300px;
      .amount-display {
        .primary {
          display: block;
        }
        .converted {
          display: inline-flex;
          align-items: center;
          font-size: 0.85rem;
          margin-top: 0.3rem;
          color: var(--color-secondary);
        }
      }
    }
  }
}

.grouped-input-button {
  display: flex;
  align-items: center;
  background-color: var(--color-light-bg);
  border: thin solid var(--color-borders);
  border-radius: 0.25rem;
  button {
    border-radius: unset;
    border: unset;
  }
  .input-label-right {
    display: flex;
    width: 100%;
    padding: 0.5rem;
    color: var(--color-primary);
    input {
      border: unset;
      padding: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
    span {
      color: var(--color-subtext);
      padding-left: 0.4rem;
      padding-right: 0.4rem;
    }
  }
}
