.container {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
}

.container > div {
  display: inline-flex;
  align-items: center;
  max-width: fit-content;
  margin: 0 auto;
}

.note_wrapper {
  display: inline-flex;
  align-items: center;
  column-gap: 0.15rem;
}

.note_wrapper > input {
  border: none;
  text-transform: capitalize;
}

.note_wrapper > p {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
}

.add_btn {
  display: inline-flex;
  align-items: center;
  border: none;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    linear-gradient(268.08deg, #fb5607 8.75%, #ffbe0b 98.45%);
  border-radius: 8px;
  font-weight: 600;
  padding: 0.5rem;
  color: #faf9f9;
  column-gap: 0.5rem;
}

.disable_btn {
  border: none;
  background-color: transparent;
  padding: 0.5rem;
  cursor: not-allowed;
}

.modal_footer {
  display: flex;
  flex-direction: column;
  border: none;
}

.modal_footer button {
  border: none;
  border-radius: 8px;
  width: 100%;
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  background: linear-gradient(6.59deg, #ffbe0b 5.78%, #fb5607 81.81%);
  color: #fff;
}

.modal_footer button:last-child {
  background: transparent;
  color: rgb(242, 102, 83);
}

.modal_header {
  color: rgba(52, 64, 117, 1);
  font-weight: 500;
  border: none;
}

.modal_input {
  border: none;
  border-radius: 8px;
  width: 100%;
  padding: 1rem;
  background-color: rgba(244, 246, 249, 1);
  margin-bottom: 2rem;
}
