body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.error {
  color: red;
  margin: 20px auto;
  text-align: center;
  font-size: 1.5rem;
}

.loading {
  margin: 20px auto;
  text-align: center;
  font-size: 1.25rem;
}

.set-invoice-button {
  margin: 1rem auto 0 auto;
  padding: 0.2rem 2rem;
}

.tip {
  padding: 0.5rem;
  font-size: 0.85rem;
}

.clickable {
  cursor: pointer;
}

.amount-input {
  margin-top: 0.75rem;
  display: flex;
  align-items: center;
}

.currency-label {
  width: 14%;
  text-align: right;
  margin-right: 0.25rem;
}

.input-container {
  width: 76%;
}

.input-container input {
  width: 100%;
}

.toggle-currency {
  width: 10%;
  text-align: center;
  cursor: pointer;
}

.qr-code-container {
  min-width: 360px;
  margin: 0 0.5rem;
}

.invoice-container {
  min-width: 360px;
  max-width: 500px;
}
