#root a svg {
  display: none;
}

#root button,
#root a.button {
  border-radius: 20px;
}

#root .contact-list-for-sending .contact .icon {
  border: thin solid var(--color-links);
}

#root .transaction-list .transaction-item {
  border-bottom: thin solid var(--color-borders);
  padding: unset;
  padding-bottom: 0.75rem;
}
